.n
{
    margin-top: 0rem;
    margin-left: 5rem;
}
.con_h4
{
    margin-top: 5rem;
    margin-left: 40rem;
    text-transform: uppercase;
}
.videos{
    height:30rem;
    width: 27rem;
    margin-left: 5rem;
    background-image: url('../assets/resume1.gif');
    /* background-image: url('../assets/resume1.gif'); */
}