/* Common styles for both desktop and mobile */
li {
    text-decoration: none;
    list-style: none;
    text-decoration-line: none;
    text-underline-position: none;
}

.navbar {
    display: flex;
    line-height: 10hv;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}

.logo1 {
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.nav-links li {
    color: black;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.nav-links a {
    text-decoration: none;
}

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .navbar {
        position: relative;
    }

    .menu-toggle {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
}
