/* Default styles for larger screens */
a{
  text-decoration: none;
}
a:hover{
  background-color: aqua;
}
.main {
    display: flex;
    height: 680px;
    background-position: fixed;
    background-size: cover;
    margin: 0 auto;
  }
  
  .tem1 {
    height: 670px;
    width: 20%;
    background-image: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  }
  
  .navlink {
    margin-top: 10px;
  }
  
  .tem2 {
    height: 670px;
    width: 40%;
  }
  
  .tem3 {
    margin: 0 auto;
    height: 900px;
    width: 40%;
  }
  /* .tem3:hover{
    
  } */
  
  .navitems {
    margin-top: 20%;
    font-size: 20px;
    justify-content: center;
    margin-left: 50px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      height: auto;
    }
  
    .tem1,
    .tem2,
    .tem3 {
      width: 100%;
      height: auto;
    }
  
    .navitems {
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
      margin-left: 0;
      margin-right: 0;
    }
  }
  